
                      <html>
                      <head>
                        <meta charset="UTF-8">
                        <title>Covid Data</title>

                        <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
                      </head>
                      <body>
                        <h1>Covid Table Data</h1>
                        <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>ID</th>
      <th>VACCINATION_DATE</th>
      <th>MANUFACTURER</th>
      <th>POSITIVE_RESULT_DATE</th>
      <th>RECOVERY_DATE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>318912417</td>
      <td>None</td>
      <td>None</td>
      <td>2023-04-30</td>
      <td>2023-06-01</td>
    </tr>
    <tr>
      <td>118912419</td>
      <td>None</td>
      <td>None</td>
      <td>2023-05-01</td>
      <td>2023-05-31</td>
    </tr>
    <tr>
      <td>218912418</td>
      <td>None</td>
      <td>None</td>
      <td>2023-05-01</td>
      <td>2023-06-07</td>
    </tr>
    <tr>
      <td>27809243</td>
      <td>None</td>
      <td>None</td>
      <td>2023-04-30</td>
      <td>2023-05-31</td>
    </tr>
    <tr>
      <td>50012343</td>
      <td>None</td>
      <td>None</td>
      <td>2023-04-16</td>
      <td>2023-04-30</td>
    </tr>
  </tbody>
</table>
                      </body>
                      </html>
                      