<html>
<head>
    <meta charset="UTF-8">
    <title>Covid Data</title>

    <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
</head>
<body>
<h1>Covid Table Data</h1>
<table border="1" class="dataframe">
    <thead>
    <tr style="text-align: right;">
        <th>ID</th>
        <th>POSITIVE_RESULT_DATE</th>
        <th>RECOVERY_DATE</th>
        <th>VACCINATION_DATE</th>
        <th>MANUFACTURER</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>318912417</td>
        <td>None</td>
        <td>None</td>
        <td>2023-05-11</td>
        <td>2023-05-31</td>
    </tr>
    <tr>
        <td>318912419</td>
        <td>None</td>
        <td>None</td>
        <td>2023-05-02</td>
        <td>2023-05-21</td>
    </tr>
    <tr>
        <td>318912418</td>
        <td>2023-05-11</td>
        <td>פייזר</td>
        <td>2023-05-22</td>
        <td>2023-05-24</td>
    </tr>
    <tr>
        <td>318912416</td>
        <td>2023-05-16 , 2023-04-30</td>
        <td>מודרנה , אסטרהזניקה</td>
        <td>2023-05-28</td>
        <td>2023-05-24</td>
    </tr>
    <tr>
        <td>33</td>
        <td>2023-05-22 , 2023-05-18</td>
        <td>מודרנה , אסטרהזניקה</td>
        <td>2023-05-20</td>
        <td>2023-05-29</td>
    </tr>
    </tbody>
</table>
</body>
</html>
                      