<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/hp.css" rel="stylesheet"/>

</head>
<body dir="auto">
<h1>HMO - COVID</h1>
<form method="GET" action="/new_client">
    <div class="responsive">
        <button type="submit" class="btn btn-info btn-lg">
            <img src="../static/images/newpatient.png" alt="Cinque Terre">
            טופס מטופל חדש
        </button>

    </div>
</form>


<form method="GET" action="/new_covid">
    <div class="responsive">
        <button type="submit" class="btn btn-info btn-lg">
            <img src="../static/images/covid.png" alt="Cinque Terre">
            קליטת רשומת קורונה
        </button>

    </div>
</form>


<form method="GET" action="/active_patient">
    <div class="responsive">
        <button type="submit" class="btn btn-info btn-lg">
             <img src="../static/images/statistic.jpeg" alt="Cinque Terre">
            סטטיסטיקה חודשית
        </button>

    </div>
</form>

<form method="GET" action="/not_vaccinated">
    <div class="responsive">
        <button type="submit" class="btn btn-info btn-lg">
            <img src="../static/images/vaccine.jpeg" alt="Cinque Terre">
            מסורבי חיסון
        </button>

    </div>
</form>

<form method="GET" action="/retrieve_members">
    <div class="responsive">
        <button type="submit" class="btn btn-info btn-lg">
            <img src="../static/images/people.png" alt="Cinque Terre">
            מאגר החולים
        </button>

    </div>
</form>

<form method="GET" action="/retrieve_covid">
    <div class="responsive">
        <button type="submit" class="btn btn-info btn-lg">
            <img src="../static/images/dbcovid.png" alt="Cinque Terre">
            מאגר קורונה
        </button>
    </div>
</form>


</body>
</html>