<html>
<head>
    <meta charset="UTF-8">
    <title>Members Data</title>

    <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
</head>
<body>
<h1>Members Table Data</h1>
<table border="1" class="dataframe">
    <thead>
    <tr style="text-align: right;">
        <th>ID</th>
        <th>DATE_OF_BIRTH</th>
        <th>FULL_NAME</th>
        <th>ADDRESS</th>
        <th>PHONE_NUMBER</th>
        <th>CELL_PHONE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>365</td>
        <td>מוריה רמתי</td>
        <td>מלכי ישראל</td>
        <td>2023-05-11</td>
        <td>0546552655</td>
        <td>0546552655</td>
    </tr>
    <tr>
        <td>33</td>
        <td>מוריה רמתי</td>
        <td>מלכי ישראל</td>
        <td>2023-05-11</td>
        <td>0546552655</td>
        <td>0546552655</td>
    </tr>
    <tr>
        <td>1546</td>
        <td>מוריה רמתי</td>
        <td>מלכי ישראל</td>
        <td>2023-05-18</td>
        <td>0546552655</td>
        <td>0546552655</td>
    </tr>
    </tbody>
</table>
</body>
</html>
                      